workflow/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incoming-message",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        360,
        220
      ],
      "id": "665e4c62-ca52-4ec8-a421-9aa243a067bd",
      "name": "Webhook",
      "webhookId": "de7ad0ac-216e-4db3-8568-fdb3ae32e12e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "171e6cb5-f8df-4198-a678-468e2af72c07",
              "name": "prompt",
              "value": "='You are a financial advisor. Reply to this query:\\n\\nSubject: ' + $json[\"subject\"] + '\\n\\nMessage: ' + $json[\"body\"]\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        220
      ],
      "id": "124a1646-e2e9-43f7-af8b-133f38371153",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek/deepseek-r1:free"
            },
            {
              "name": "messages[0].role",
              "value": "user"
            },
            {
              "name": "messages[0].content",
              "value": "={{$json[\"prompt\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        220
      ],
      "id": "7a2a1960-fe41-4642-9c75-699805616c9e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"reply\": \"={{$json.choices[0].message.content}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        220
      ],
      "id": "2d5f4770-9cb0-4cf6-8255-55e20408e605",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1320,
        220
      ],
      "id": "2d39e809-e0f3-4eef-be52-3ed10cd6c4fc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41b62d41-99ae-4f51-aa5a-b2b5b61adb1f",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "3c40a68a-e55a-4e5f-92bf-0a2bc2e1da42",
              "name": "generated_reply",
              "value": "={{$node[\"HTTP Request\"].json[\"choices\"][0][\"message\"][\"content\"]}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        220
      ],
      "id": "80044585-9831-4339-b0a3-7cb404f6aca9",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "34b6b50a-8eaa-4015-a8d9-768e39c9e4bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d74cb3bece9d23df17f31c23020b36915f3889b8201263b74458139ab8c5cac"
  },
  "id": "zizXSQrxJoj7aG9W",
  "tags": []
}
